node_modules
.env
vendor/
composer.lock
.github
includes
test
.babelrc
.env
test.config
phpunit
agregar_movimiento_inventario
agregar_producto_inventario.php
modificar_producto_inventario.php
eliminar_producto_inventario.php
aprobar_movimiento_inventario.php
eliminar_movimiento_inventario.php